output/*
*.pdf
*.backup
*~
*.aux
*.bbl
*.idx
*.ind
*.ilg
*.out
*.blg
*.log
*.tcp
*.toc
*.tps
*.ps
*.dvi
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.lof
*.lot
*.nlo
*.nls
*.synctex
*.bak
*.fls
*.fdb*
*.ist
*-blx.bib
*.run*
*.syg
*.nav
*.snm
